body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(81, 76, 76, 0.82);
    overscroll-behavior: none;
}
#content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#content h1,#content span{
    color: white;
}
canvas{
    cursor: url('Batman Pen.cur'), auto;
}
button{
    cursor: pointer;
    border: none;
    padding:  2px 10px;
    height: 22px;
    border-radius: 5px;
    border-color: white;
    background-color: black;
    color: white;
}
button:hover{
    background-color: rgb(76, 76, 78);
}
button:disabled, button:disabled:hover{
    background-color: rgb(192, 192, 193);
    cursor: default;
}